/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-image: url("/src/assets/images/bg-Login.png");
  }
  
  .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
   */